/* components/NftCard/NftCard.css */
.nft-card {
  max-width: 20rem; /* ou la largeur que vous préférez pour les cartes */
  text-decoration: none; /* Assurez-vous que le texte n'est pas souligné */
}

.nft-card img {
  width: 100%;
  height: 12rem; /* ajustez la hauteur selon vos besoins */
  object-fit: cover;
}

.nft-card .p-4 {
  padding: 1rem;
}

.nft-card .font-bold {
  font-weight: bold;
}

.nft-card .text-xl {
  font-size: 1.25rem;
}

.nft-card .mb-4 {
  margin-bottom: 1rem; /* Utilisation de mb-4 pour espacer le nom et le symbole */
}

.nft-card .text-gray-700 {
  color: #4a5568;
}

.nft-card .text-base {
  font-size: 1rem;
}

.nft-card .font-semibold {
  font-weight: 600;
}

/* Ajoutez ces règles pour enlever le soulignement et la couleur des liens */
.nft-card a {
  text-decoration: none !important;
  color: inherit !important;
  display: block;
}

.nft-card a:hover,
.nft-card a:focus,
.nft-card a:active {
  text-decoration: none !important;
  color: inherit !important;
}
